<% provide(:title, "#{@restaurant.name}") %>
<% @comments  = @restaurant.feed_comment(@restaurant.id) %>
<div id="fh5co-portfolio">
  <div class="container">
    <div class="row">
      <%= render "restaurant_images", restaurant: @restaurant %>
      <div class="col-md-7">    
        <h2 class="restaurant-name"><%= @restaurant.name %></h2>
        <div class="change-restaurant">
          <% if logged_in? && admin? %>
            <%= link_to "編集", edit_restaurant_path(@restaurant), class: 'edit-restaurant' %>　
          <% end %>
        </div>
        <%= render 'users/favorite_form' %> 
        <h4><%= @restaurant.description %></h4>
        <div class="gmap" id="map"></div>      
        <div class="comment">
          <%= render "comments/feed_comments" %>
          <%= render "comments/new" %>
        </div>
      </div>
      <div class="row restaurantsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>こちらもお勧め！！</h4>
          </div>
        </div>
        <%= render "related_restaurants", restaurant: @restaurant %>
      </div>
    </div>
  </div>
</div>

